.single-post-article {
    max-width: 800px;
    margin: 0 auto;
    color: $white;

    a {
        color: $black;
        text-decoration: underline;
    }

    .wp-block-image {
        margin-bottom: 2em;
    }

    .wp-block-embed {
        margin-bottom: 2em;
        .wp-block-embed__wrapper {
            position: relative;
            width: 100%;
            aspect-ratio: 16 / 9;

            iframe {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}