body {
    font-family: $font-main;
    background-color: $black;
}

hr {
    border: none;
    border-top: 1px solid $white;
    margin: 2rem 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;

    &::after {
        content: "";
        display: table;
        /* or 'block' */
        clear: both;
    }
}


.main-content {
    margin: 2rem 0;

    @include breakpoint(small) {
        margin: 4rem 0;
    }
}


.button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: $primary-color;
    color: $black !important;
    text-decoration: none;
    font-weight: 700;
    border-radius: 30px;
    transition: .1s all;

    &:hover {
        transform: scale(1.03);
    }

    &.secondary {
        background-color: transparent;
        color: $white !important;
        border: 1px solid $white;
    }
}


.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    @include breakpoint(small) {
        flex-direction: row;
    }
}


.page-header {
    color: $white;
}