@font-face {
  font-family: 'PP Agrandir';
  src: url('../fonts/PPAgrandir-NormalRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Agrandir';
  src: url('../fonts/PPAgrandir-NormalBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Agrandir';
  src: url('../fonts/PPAgrandir-NormalMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

$font-primary: 'PP Agrandir', Arial, sans-serif !important;

html {
  font-size: 18px;
  font-family: $font-primary;
}

body {
  line-height: 1.5;
}

p {
  font-size: 1rem;
  /* 18px */
  margin: 0 0 1em;
  /* slightly more spacing than super-tight */
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.25em;
  /* small but noticeable space before headings */
  margin-bottom: 0.5em;
  /* slightly more space after headings */
  line-height: 1.2;
}

/* Compact, harmonious heading scale */
h1 {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.25;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3;
}

h4 {
  font-size: 1.33rem;
  font-weight: 600;
  line-height: 1.35;
}

h5 {
  font-size: 1.17rem;
  font-weight: 500;
  line-height: 1.4;
}

h6 {
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1.45;
}

/* Optional: small spacing if heading is immediately followed by a paragraph */
h1+p,
h2+p,
h3+p,
h4+p,
h5+p,
h6+p {
  margin-top: 0.25em;
}