body {
    &.page-template-template-events {
        .section-latest-events {
            border: none;
        }
    }
}

.section-latest-events {
    padding: 4rem 0 5rem 0;
    background-color: #000;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

    h2 {
        margin-top: 0;
        text-align: center;
        color: #fff;
    }

    .events-grid {
        display: grid;
        justify-content: space-between;
        gap: 2rem;
        @include breakpoint(small) {
            grid-template-columns: repeat(3, 1fr);
        }

        .event-item {
            text-decoration: none;
        }
    }

    .enter_events_upcoming_card {
        flex: 1 0;
        overflow: hidden;
        border-radius: 20px;
        color: #fff;
        border: 4px solid transparent;
        transition: .2s all;

        &:hover {
            border: 4px solid $gray;
        }

        .upcoming_card_img {
            display: block;
            width: 100%;
            height: 365px !important;
            object-fit: fill;
        }

        .upcoming_card_icons {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .upcoming_card_content {
            background-color: $gray;
            display: flex;
            gap: 17px;
            padding: 25px 30px 30px 20px;

            .upcoming_date {
                display: flex;
                flex-direction: column;
                min-width: 40px;

                .month {
                    font-size: 11.37px;
                    font-weight: 700;
                    line-height: 15.01px;
                    color: $primary-color;
                    text-transform: uppercase;
                    text-align: center;
                }

                .day {
                    font-size: 28.43px;
                    font-weight: 700;
                    line-height: 37.53px;
                    color: #fff;
                    text-align: center;
                }
            }

            .upcoming_card_text {
                .upcoming_card_title {
                    margin-bottom: 10px;

                    p {
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 24px;
                        color: #fff;
                        margin: 0;
                    }
                }

                .upcoming_card_desc {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    text-align: left;
                }
            }
        }
    }
}