.section-partners {
    padding: 3rem 0 4rem 0;
    color: $white;
    border-top: 1px solid $white;

    .section-header {
        h2 {
            text-align: center;
            font-size: 2.5rem;
            color: $white;
            margin-top: 0;
        }

        p {
            max-width: 800px;
            margin: 0 auto;
            margin-bottom: 2rem;
            color: $white;
            text-align: center;
        }
    }

    .partners-grid {
        @include breakpoint(small) {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 2rem;
        }

        .item {
            display: flex;
            align-items: center;
            padding: 2rem;
            border: 1px solid $white;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }
}