.section-search-blog {
    margin-bottom: 2rem;
    .search-form {
        display: flex;
        label {
            width: 100%;
        }
        .search-field {
            width: 100%;
            height: 50px;
            padding: 0 1rem;
            background-color: $black;
            color: $white;
            border: 1px solid #515050;
            box-sizing: border-box;
            &::placeholder {
                color: #888;
            }
        }
        .search-submit {
            padding: 0 3rem;
            background-color: $black;
            color: $white;
            border: 1px solid #515050;
        }
    }
}